## Production Environment Variables
# Copy this file to .env.production.local and fill in your actual values


CLOUDINARY_API_KEY=985553523297294
CLOUDINARY_API_SECRET=2zkXFn1GCud7Ii9pTddKTwSrWnE
CLOUDINARY_CLOUD_NAME=dfdryre0n
RAZORPAY_KEY_ID=rzp_live_RqLQqX0RU4o2Ua

RAZORPAY_KEY_SECRET=bn87t4fqreI2sJd15J14Te4K
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtZnd1aGRyaHlzZm9vbnN2am5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODI4ODI0OCwiZXhwIjoyMDczODY0MjQ4fQ.0SChdaic_erb5sZf31TEt1klGzI2JbCdagkyUq5hgos
SUPABASE_URL=https://qmfwuhdrhysfoonsvjnb.supabase.co

